@import url(contact.css);
@import url(category.css);

* {
    direction: rtl;
    font-family: Vazirmatn;
    text-decoration: none;
    list-style: none;
}

/* loader */

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #474bff);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
    animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
    to {
        transform: rotate(1turn);
    }
}

/* Start Header */

header {
    width: 100%;
    background-color: #12172b;
}

.header-top {
    width: 91%;
    margin: 0 6%;
    margin-right: 2% !important;
    display: flex;
    height: 67px;
}

.header-logo {
    width: 23%;
}

.header-logo img {
    width: 59%;
    margin: 2% 0 0;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    height: 67px;
}

.link-header {
    width: 53%;
    margin-right: -25px;
}

.link-header ul li {
    display: inline-block;
    margin: 25px 12px;
    margin-top: 31px !important;
}

.link-header ul li a {
    color: #eaeaea;
    font-size: 19px;
}

.icon-header {
    width: 15%;
}

.sign-header {
    color: #eaeaea;
    display: flex;
    flex-direction: row-reverse;
}

.title-header-sign {
    margin-top: 18px;
}

.title-header-sign h3 {
    font-size: 15px;
    margin: 3px;
    margin-right: 13px;
    color: gray;
}

[name="person-outline"] {
    font-size: 30px;
    position: absolute;
    top: 24px;
    left: 281px;
}

.card-header {
    margin-top: -36px;
    color: #eaeaea;
    display: flex;
    margin-right: 298px;
}

[name="cart-outline"] {
    font-size: 30px;
    position: absolute;
    top: 24px;
    left: 124px;
}

.title-header-num {
    display: flex;
    flex-direction: row-reverse;
}

.title-header-num span {
    margin: 0 5px;
    color: #ff3a4b;
}

.title-header-cart h3 {
    font-size: 15px;
    margin: 3px;
    margin-right: 13px;
    color: gray;
}

.circle-card-number {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #ff3a4b;
    position: absolute;
    left: 140px;
}

.cart-number h1 {
    position: absolute;
    left: 144.5px;
    top: 23px;
    font-size: 16px;
}

.header-but {
    background-color: #dd2956;
    width: 100%;
    height: 61px;
}

.dropdone {
    position: relative;
    width: 270px;
    height: 48px;
    background-color: #e04066;
    display: flex;
    flex-direction: row;
    margin-right: 27px;
    top: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.ul-dropdone {
    position: absolute;
    top: 117%;
    z-index: 998;
    background-color: #dd2956;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: block !important;
}


.ul-dropdone li {
    display: flex;
    flex-direction: column;
    width: 137px;
    margin: 3px 22px 16px -1px;
    font-size: 22px;

}


.ul-dropdone li a {

    color: #fff;
}



[name="menu-outline"] {
    font-size: 27px;
    margin: 10px 0px;
    margin-right: 7px;
}

.dropdone h1 {
    margin: 17px 6px 0;
}

.ul-dropdonelive {
    display: none;

}

[name="chevron-down-outline"] {
    font-size: 25px;
    margin: 11px 59px 0 0;
}

.title-header-but h1 {
    color: #fff;
    margin-right: 356px;
    position: absolute;
    top: 88px;
}

.header-search {
    width: 611px;
    margin-right: 660px;
    position: absolute;
    top: 72px;
}

.header-search form {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header-search form input {
    width: 80%;
    border: none;
    padding: 10px;
    background: #eaeaea;
    font-size: 15px;
    outline: none;
}

.header-search form button {
    border: none;
    font-size: 26px;
    width: 22%;
    background: #12172b;
    color: #fff;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}

.header-search form button h1 {
    font-size: 20px;
    margin-top: -2px;
}


/* swiper hero */

.swiper1 {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

section.hero-section {
    margin-top: -48px;
    border-radius: 20px;
}

.hero-section .swiper {
    width: 96%;
    margin-top: 30px;
    border-radius: 20px;
}

.hero-section .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #12172b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.hero-section .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/* swiper hero2 */

.hero2-section {
    width: 85%;
    margin-right: 7%;
    margin-top: 2%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide2 {
    margin-top: 50px;
}

.swiper2-slide img {
    display: block;
    width: 50%;
    height: 92%;
    object-fit: cover;
    position: absolute;
    top: -58px;
    left: 53px;
}

.swiper2-slide {
    height: 155px !important;
    width: 200px !important;
    border-radius: 50% 50% 5% 5%;
    -webkit-border-radius: 50% 50% 5% 5%;
    -moz-border-radius: 50% 50% 5% 5%;
    -ms-border-radius: 50% 50% 5% 5%;
    -o-border-radius: 50% 50% 5% 5%;
    background-color: #fceed3;
}

.swiper2-slide h1 {
    color: black;
    margin-top: 88px;
    font-size: 25px;
}

.swiper2-slide h2 {
    font-size: 16px;
    margin-top: 10px;
    color: gray;
}


/* hero3 */

.hero3-section {
    display: flex;
    flex-direction: row;
    margin: 63px 95px;
}

.hero3-img1 {
    width: 40%;
}

.hero3-img2 {
    width: 40%;
}

.hero3-img1 img {
    width: 115%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-right: 8px;
}

.hero3-img2 img {
    width: 115%;
    border-radius: 20px;
    margin: 0 105px;
}


/* off section */

.off-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.off-first {
    width: 632px;
    height: 493px;
    border-radius: 50% 5% 5% 50%;
    -webkit-border-radius: 50% 5% 5% 50%;
    -moz-border-radius: 50% 5% 5% 50%;
    -ms-border-radius: 50% 5% 5% 50%;
    -o-border-radius: 50% 5% 5% 50%;
    background-color: #eeb136;
    margin-right: 37px;
    position: relative;
}

.off-fitst-title img {
    position: absolute;
    width: 42%;
    margin: 18px 33px;
}

.off-fitst-title h1 {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 290px;
    right: 49px;
}

.off-fitst-title h2 {
    position: absolute;
    color: black;
    top: 342px;
    font-size: 20px;
    right: 104px;
}

.but-off {
    height: 57px;
    width: 200px;
    background-color: #f1a713;
    position: relative;
    top: 387px;
    border: 3px solid white;
    border-radius: 16px;
    font-size: 22px;
    color: #fff;
    right: 64px;
}

.but-off:hover {
    background-color: #fff;
    color: #f1a713;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

[name="caret-back-outline"] {
    font-size: 25px;
    margin-top: 0px;
}

.card-off-child {
    background-color: #fff;
    height: 450px;
    width: 241px;
    border: 1.5px solid #2a2a2ae8;
    border-radius: 24px;
    overflow: hidden;
    margin: 0 18px;
}

.card-off-child img {
    width: 100%;
}

.card-off-child h1 {
    font-weight: bold;
    font-size: 15px;
    display: block;
    color: #2a2a2ae8;
    line-height: 1.5;
    height: 3em;
    margin: 27px 10px;
}

.card-off-child h2 {
    font-weight: bold;
    font-size: 14px;
    display: block;
    color: gray;
    line-height: 1.5;
    height: 3em;
    margin-right: 12px;
}

.card-but {
    border-radius: 12px;
    background-color: #eee;
    font-size: 17px;
    height: 45px;
    width: 171px;
    margin: 0 27px 10px;
    border: none;
}

.card-but:hover {
    background-color: gray;
    color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

[name="eye-outline"] {
    font-size: 27px;
    margin: -6px -14px -10px 4px;
}

.off-card {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 417px;
}


/* section pishnahad */
.pishnahad {
    position: relative;
    margin: 5% 0 15%;
}

.off-card-pish {
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: absolute;
    top: 25%;
    right: 3%;
}

.off-card-pish>.card-off-child {
    margin: 0 6px;
}

h1.pishh1 {
    color: #E8A20D;
    font-weight: 800;
    text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.47);
    font-size: 30px;
    position: absolute;
    top: 10%;
    z-index: 999;
    right: 40%;
}


/* footer */

.footer {
    margin-top: 130px;
    width: 100%;
    height: auto;
    background-color: #12172b;
    display: flex;
    flex-direction: row;

    h3,
    h4 {
        color: #ffffffdc;
    }

    p {
        color: #ffffffdc;
    }
}

.footer div {
    margin-top: 15px;
}

.footer-about {
    width: 25%;
    margin: 10px 60px;
    font-size: 20px;
}

.footer-a {
    margin-top: 10px;
    width: 20%;
}

.footer-a a {
    width: 32%;
    display: inline-block;
    font-size: 50px;
}

.footer-phone {
    width: 20%;
}

.footer-phone h4 {
    margin: 20px 0;
}

.footer-namad {
    width: 30%;
}

.footer-namad img {
    margin: 20px 10px;
}

.fa.fa-facebook-square {
    color: white;
}

.fa.fa-twitter-square {
    color: white;
}

.fa.fa-linkedin-square {
    color: white;
}

.fa.fa-instagram {
    color: white;
}

.fa.fa-google {
    color: white;
}

.fa.fa-youtube {
    color: white;
}

.footer-copyright p {
    background-color: #12172b;
    justify-content: center;
    display: flex;
    padding: 10px 0;
    color: #ffffffdc;
}


/* ris 400 */

@media only screen and (min-width: 370px) and (max-width:413px) {

    /* header */

    .header-logo {
        width: 60%;
    }

    .title-header-sign h3 {
        font-size: 15px;
        margin: 3px;
        margin-right: -71px;
        color: gray;
    }

    .title-header-sign h2 {
        margin-right: -72px;
    }

    [name="person-outline"] {
        font-size: 30px;
        position: absolute;
        top: 24px;
        left: 193px;
    }

    .card-header {
        margin-top: -36px;
        color: #eaeaea;
        display: flex;
        margin-right: 101px;
    }

    [name="cart-outline"] {
        left: 69px;
    }

    .circle-card-number {
        left: 86px;
    }

    .cart-number h1 {
        left: 91px
    }

    /* header-but */



    .title-header-but h1 {
        display: none;
    }

    .header-but {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: 114px;
        position: relative;
    }

    .dropdone {
        position: relative;
        width: 80%;
        height: 48px;
        background-color: #e04066;
        display: flex;
        flex-direction: row;
        margin-right: 8%;
        top: -6px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }

    .header-search {
        width: 94%;
        margin: 0 3%;
        position: absolute;
        top: 8px;
    }

    [name="chevron-down-outline"] {
        font-size: 25px;
        margin: 11px 67px 0 0;
    }

    .dropdone h1 {
        margin: 17px 13px 0;
    }

    /* hero1 */

    .hero-section .swiper {
        width: 96%;
        margin-top: 30px;
        border-radius: 20px;
        height: 250px;
    }

    .hero-section .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    /* hero3 */
    .hero3-section {
        display: flex;
        flex-direction: column;
        margin: 25px 5%;
    }

    .hero3-img1 {
        width: 80%;
    }

    .hero3-img1 img {
        height: 158px;
    }

    .hero3-img2 {
        width: 80%;
    }

    .hero3-img2 img {
        width: 115%;
        border-radius: 20px;
        margin: 25px 5%;
        height: 158px;
    }

    .off-card {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 59px;
        top: 21%;
    }

    .off-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .off-first {
        width: 90%;
        height: 1790px;
        border-radius: 5% 5% 5% 5%;
        -webkit-border-radius: 5% 5% 5% 5%;
        -moz-border-radius: 5% 5% 5% 5%;
        -ms-border-radius: 5% 5% 5% 5%;
        -o-border-radius: 5% 5% 5% 5%;
        background-color: #eeb136;
        margin-right: 19px;

    }

    .off-fitst-title img {
        position: absolute;
        width: 80%;
        margin: 18px 33px;
    }

    .card-off-child {
        margin: 10px 18px;
    }

    .but-off {
        display: none;
    }



    /* footer */
    .footer {
        flex-direction: column !important;

        h3, h4 {

            margin-right: 7%;
        }

        p {
            margin-top: 19px;
            width: 79%;
            margin-right: 7%;
        }


    }


    .footer div {
        margin-top: 18px !important;
        width: 100%;
        margin-right: 0%;
    }

    .footer-about {
        width: 25%;
        margin: 10px 60px;
        font-size: 20px;
    }

    .footer-a a {
        margin: 0%;
    }

    .footer-a a {
        width: 25%;
        display: inline-block;
        font-size: 51px;
        margin-right: 7%;
    }



    .footer-phone {
        width: 20%;
    }

    .footer-phone h4 {
        margin: 20px 28px !important;
    }

    .footer-namad {
        width: 30%;
    }

    .footer-namad img {
        margin: 20px 12px;
    }

    .footer-copyright p {

        justify-content: center;
        display: flex;
        padding: 10px 14px;
        align-items: center;
    }


    .pishnahad, .link-header {
        display: none;
    }
}



/* ris 576 */

@media only screen and (min-width: 414px) and (max-width:576px) {
    /* header */

    .header-logo {
        width: 60%;
    }

    .title-header-sign h3 {
        font-size: 15px;
        margin: 3px;
        margin-right: -100px;
        color: gray;
    }

    .title-header-sign h2 {
        margin-right: -102px;
    }

    [name="person-outline"] {
        font-size: 30px;
        position: absolute;
        top: 24px;
        left: 193px;
    }

    .card-header {
        margin-top: -36px;
        color: #eaeaea;
        display: flex;
        margin-right: 101px;
    }

    [name="cart-outline"] {
        left: 44px;
    }

    .circle-card-number {
        left: 62px;
    }

    .cart-number h1 {
        left: 67px;
    }

    /* header-but */



    .title-header-but h1 {
        display: none;
    }

    .header-but {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: 114px;
        position: relative;
    }

    .dropdone {
        position: relative;
        width: 47%;
        height: 48px;
        background-color: #e04066;
        display: flex;
        flex-direction: row;
        margin-right: 8%;
        top: -6px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }

    .header-search {
        width: 94%;
        margin: 0 3%;
        position: absolute;
        top: 8px;
    }

    [name="chevron-down-outline"] {
        font-size: 25px;
        margin: 11px 8px 0 0;
    }

    .dropdone h1 {
        margin: 17px 22px 0;
    }

    /* hero1 */

    .hero-section .swiper {
        width: 96%;
        margin-top: 30px;
        border-radius: 20px;
        height: 300px;
    }

    .hero-section .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }


    /* hero3 */
    .hero3-section {
        display: flex;
        flex-direction: column;
        margin: 25px 5%;
    }

    .hero3-img1 {
        width: 80%;
    }

    .hero3-img1 img {
        height: 158px;
    }

    .hero3-img2 {
        width: 80%;
    }

    .hero3-img2 img {
        width: 115%;
        border-radius: 20px;
        margin: 25px 5%;
        height: 158px;
    }

    /* hero3 */




    /* footer */

    .footer {
        flex-direction: column !important;

        h3, h4 {

            margin-right: 7%;
        }

        p {
            margin-top: 19px;
            width: 79%;
            margin-right: 7%;
        }


    }


    .footer div {
        margin-top: 18px !important;
        width: 100%;
        margin-right: 0%;
    }

    .footer-about {
        width: 25%;
        margin: 10px 60px;
        font-size: 20px;
    }

    .footer-a a {
        margin: 0%;
    }

    .footer-a a {
        width: 25%;
        display: inline-block;
        font-size: 51px;
        margin-right: 7%;
    }



    .footer-phone {
        width: 20%;
    }

    .footer-phone h4 {
        margin: 20px 32px !important;
    }

    .footer-namad {
        width: 30%;
    }

    .footer-namad img {
        margin: 20px 12px;
    }

    .footer-copyright p {

        justify-content: center;
        display: flex;
        padding: 10px 14px;
        align-items: center;
    }



    .pishnahad, .link-header, .off-section {
        display: none;
    }
}


/* ris 768 */

@media only screen and (min-width: 577px) and (max-width:1000px) {
    /* header */

    .header-logo {
        width: 60%;
    }

    .title-header-sign h3 {
        font-size: 15px;
        margin: 3px;
        margin-right: -100px;
        color: gray;
    }

    .title-header-sign h2 {
        margin-right: -102px;
    }

    [name="person-outline"] {
        font-size: 30px;
        position: absolute;
        top: 24px;
        left: 340px;
    }

    .card-header {
        margin-top: -36px;
        color: #eaeaea;
        display: flex;
        margin-right: 190px;
    }

    [name="cart-outline"] {
        left: 140px;
    }

    .circle-card-number {
        left: 157px;
    }

    .cart-number h1 {
        left: 161.5px;
    }

    /* header-but */



    .title-header-but h1 {
        display: none;
    }

    .header-but {
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .dropdone {
        position: relative;
        width: 35%;
        height: 48px;
        background-color: #e04066;
        display: flex;
        flex-direction: row;
        margin-right: 3%;
        top: 6px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }

    .header-search {
        width: 55%;
        margin: 0 43%;
        position: absolute;
        top: 8px;
    }

    [name="chevron-down-outline"] {
        font-size: 25px;
        margin: 11px 8px 0 0;
    }

    .dropdone h1 {
        margin: 17px 22px 0;
    }


    /* hero1 */
    .hero-section .swiper {
        width: 96%;
        margin-top: 30px;
        border-radius: 20px;
        height: 341px;
    }

    .hero-section .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }


    /* hero3 */
    .hero3-section {
        display: flex;
        flex-direction: column;
        margin: 25px 5%;
    }

    .hero3-img1 {
        width: 80%;
    }

    .hero3-img1 img {
        height: 207px;
        margin-right: 5%;
    }

    .hero3-img2 {
        width: 80%;
    }

    .hero3-img2 img {
        width: 115%;
        border-radius: 20px;
        margin: 25px 5%;
        height: 207px;
    }

    /* hero3 */
    .but-off {
        display: none;
    }

    .off-section {
        width: 53%;
        display: flex;
        flex-direction: row;
    }

    .off-first {
        width: 80%;
        height: 451px;
        border-radius: 50% 5% 5% 50%;
        -webkit-border-radius: 50% 5% 5% 50%;
        -moz-border-radius: 50% 5% 5% 50%;
        -ms-border-radius: 50% 5% 5% 50%;
        -o-border-radius: 50% 5% 5% 50%;
        background-color: #eeb136;
        margin-right: 19px;
        position: relative;
    }

    .off-fitst-title img {
        position: absolute;
        width: 51%;
        margin: 18px 33px;
    }

    .off-fitst-title h1 {
        color: #fff;
        font-size: 30px;
        position: absolute;
        top: 244px;
        right: 14px;
    }

    .off-fitst-title h2 {
        position: absolute;
        color: black;
        top: 325px;
        font-size: 27px;
        right: 49px;
    }

    .off-card {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 285px;
    }

    .card-off-child {
        background-color: #fff;
        height: 446px;
        width: 226px;
        border: 1.5px solid #2a2a2ae8;
        border-radius: 24px;
        overflow: hidden;
        margin: 0 4px;
    }

    .card-off-child.displatnoneh {
        display: none;
    }

    /* footer */

    .footer {
        flex-direction: column !important;

        h3, h4 {

            margin-right: 7%;
        }

        p {
            margin-top: 19px;
            width: 79%;
            margin-right: 7%;
        }


    }


    .footer div {
        margin-top: 18px !important;
        width: 100%;
        margin-right: 0%;
    }

    .footer-about {
        width: 25%;
        margin: 10px 60px;
        font-size: 20px;
    }

    .footer-a a {
        margin: 0%;
    }

    .footer-a a {
        width: 25%;
        display: inline-block;
        font-size: 51px;
        margin-right: 7%;
    }



    .footer-phone {
        width: 20%;
    }

    .footer-phone h4 {
        margin: 20px 32px !important;
    }

    .footer-namad {
        width: 30%;
    }

    .footer-namad img {
        margin: 20px 12px;
    }

    .footer-copyright p {

        justify-content: center;
        display: flex;
        padding: 10px 14px;
        align-items: center;
    }



    .pishnahad, .link-header, .off-section {
        display: none;
    }
}